*{
    font-size:large;
    padding:5px;
}
table{
    width:100%;
    border-collapse:collapse;
}
table,th,td{
    border:1px solid;
}
th{
    background-color:lightgoldenrodyellow;
}


#formdiv{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}
#formdiv label,button,input{
    margin:10px;
    padding:10px;
}
#formdiv label{
    font-weight:bolder;
}
table button{
    padding: 2px;
}
#updateformdiv {
    display: none;
    flex-direction: column;
    margin-bottom: 15px;
}

    #updateformdiv label, button, input {
        margin: 10px;
        padding: 10px;
    }

    #updateformdiv label {
        font-weight: bolder;
    }
